<a href="https://colab.research.google.com/github/Ebratul/Python/blob/main/NLP/Named_Entity_Recognition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import spacy

In [54]:
import warnings
warnings.filterwarnings('ignore')

In [55]:
nlp = spacy.load('en_core_web_sm')
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [56]:
doc = nlp("Tesla Inc is going to acquire Twitter INC for $45 billion")

for ent in doc.ents:
  print(ent.text,"->", ent.label_, "->>", spacy.explain(ent.label_))

Tesla Inc -> ORG ->> Companies, agencies, institutions, etc.
Twitter INC -> ORG ->> Companies, agencies, institutions, etc.
$45 billion -> MONEY ->> Monetary values, including unit

In [57]:
from spacy import displacy

displacy.render(doc, style = 'ent')

In [58]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [59]:
doc = nlp("Michael Bloomberg founded Bloomberg INC in 1982")

for ent in doc.ents:
  print(ent.text,"->", ent.label_, "->>", spacy.explain(ent.label_))

Michael Bloomberg -> PERSON ->> People, including fictional
Bloomberg INC -> ORG ->> Companies, agencies, institutions, etc.
1982 -> DATE ->> Absolute or relative dates or periods

In [60]:
doc1 = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc1.ents:
  print(ent.text, "|" , ent.label_)

Tesla | ORG
Twitter | PERSON
$45 billion | MONEY

In [61]:
type(doc1[2:5])

spacy.tokens.span.Span

In [62]:
#create own spacy


from spacy.tokens import Span

s1 = Span(doc1, 0, 1, label = "ORG")
s2 = Span(doc1, 5, 6, label= "ORG")

doc1.set_ents([s1, s2], default = "unmodified")

In [63]:
for ent in doc1.ents:
  print(ent.text, "|" , ent.label_)

Tesla | ORG
Twitter | ORG
$45 billion | MONEY

In [64]:
# exercises

text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [77]:
for ent in doc.ents:
  print(ent.text, "|" , ent.label_)

Kiran | GPE
India | COUNTRY
Google | ORG
Google | ORG
Delhi | CITY
Chaat | ORG
Gujarat | STATE
Dal Dhokli | PERSON
Tamilnadu | STATE
Pongal | PERSON
Andhrapradesh | STATE
Biryani | PERSON
Assam | STATE
Papaya Khar | PERSON
Bihar | STATE
Litti Chowkha | ORG

In [79]:
#create own spacy

s1 = Span(doc, 11, 12, label = 'country')
s2 = Span(doc, 25, 26, label='city')
doc.set_ents([s1], default='unmodified')

In [80]:
for ent in doc.ents:
  print(ent.text ,'->', ent.label_)

Kiran -> GPE
India -> country
Google -> ORG
Google -> ORG
Delhi -> CITY
Chaat -> ORG
Gujarat -> STATE
Dal Dhokli -> PERSON
Tamilnadu -> STATE
Pongal -> PERSON
Andhrapradesh -> STATE
Biryani -> PERSON
Assam -> STATE
Papaya Khar -> PERSON
Bihar -> STATE
Litti Chowkha -> ORG

***
India → Country

Delhi → City

Gujarat → State

Tamilnadu → State

Andhrapradesh → State

Assam → State

Bihar → State
***

In [81]:
patterns = [
    {"label": "COUNTRY", "pattern": "India"},
    {"label": "CITY", "pattern": "Delhi"},
    {"label": "STATE", "pattern": "Gujarat"},
    {"label": "STATE", "pattern": "Tamilnadu"},
    {"label": "STATE", "pattern": "Andhrapradesh"},
    {"label": "STATE", "pattern": "Assam"},
    {"label": "STATE", "pattern": "Bihar"}
]
type(patterns)

list

In [75]:
#create own spacy

import spacy
from spacy.pipeline import EntityRuler

nlp = spacy.load("en_core_web_sm")
ruler = nlp.add_pipe("entity_ruler", before="ner")

patterns = [
    {"label": "COUNTRY", "pattern": "India"},
    {"label": "CITY", "pattern": "Delhi"},
    {"label": "STATE", "pattern": "Gujarat"},
    {"label": "STATE", "pattern": "Tamilnadu"},
    {"label": "STATE", "pattern": "Andhrapradesh"},
    {"label": "STATE", "pattern": "Assam"},
    {"label": "STATE", "pattern": "Bihar"}
]
ruler.add_patterns(patterns)

text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

for ent in doc.ents:
    print(ent.text, '-->>', ent.label_)

Kiran -->> GPE
India -->> COUNTRY
Google -->> ORG
Google -->> ORG
Delhi -->> CITY
Chaat -->> ORG
Gujarat -->> STATE
Dal Dhokli -->> PERSON
Tamilnadu -->> STATE
Pongal -->> PERSON
Andhrapradesh -->> STATE
Biryani -->> PERSON
Assam -->> STATE
Papaya Khar -->> PERSON
Bihar -->> STATE
Litti Chowkha -->> ORG

In [85]:
from spacy.tokens import Span


text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

patterns = [
    {"label": "COUNTRY", "pattern": "India"},
    {"label": "CITY", "pattern": "Delhi"},
    {"label": "STATE", "pattern": "Gujarat"},
    {"label": "STATE", "pattern": "Tamilnadu"},
    {"label": "STATE", "pattern": "Andhrapradesh"},
    {"label": "STATE", "pattern": "Assam"},
    {"label": "STATE", "pattern": "Bihar"}
]

doc.set_ents([s1], default='unmodified')

for ent in doc.ents:
  print(ent.text, '-->>', ent.label_)

Kiran -->> GPE
India -->> country
Google -->> ORG
Google -->> ORG
Delhi -->> CITY
Chaat -->> ORG
Gujarat -->> STATE
Dal Dhokli -->> PERSON
Tamilnadu -->> STATE
Pongal -->> PERSON
Andhrapradesh -->> STATE
Biryani -->> PERSON
Assam -->> STATE
Papaya Khar -->> PERSON
Bihar -->> STATE
Litti Chowkha -->> ORG